<div class="summary">
  <div class="item">
    <span class="title">orders</span>
    <span class="result">{{ ordersSummary.quantityOrders }}</span>
  </div>
  <div class="separator"></div>
  <div class="item">
    <span class="title">amount</span>
    <span class="result">{{ ordersSummary.totalProducts | currency }}</span>
  </div>
  <div class="separator"></div>
  <div class="item">
    <span class="title">products</span>
    <span class="result">{{ ordersSummary.quantityProducts }}</span>
  </div>
</div>
