<div class="search">
  <div class="wrapper">
    <input type="text"
           class="input"
           placeholder="search for a product..."
           [value]="searchTerm"
           (input)="searchChanged.emit($event.target.value)" />
    <img *ngIf="!searchTerm" src="assets/icons/dark/search.svg" />
    <img *ngIf="searchTerm" src="assets/icons/dark/clear.svg" (click)="searchChanged.emit(null)" />
  </div>
  <app-button-circle
                     [icon]="sortId"
                     [small]="true"
                     (buttonClicked)="sortClicked.emit()"></app-button-circle>
</div>
