@import "./variables";

.new-content {
    display: flex;
    flex-flow: column;
    align-items: center;

    p {
        color: $text-dark-secondary;
        text-align: center;
        margin: 20px 0;
    }

    .button {
        width: 100%;
    }
}
